.app {
	background: var(--clr-page-bg) var(--gradient-bg) no-repeat 0% 0% / 100vw
		18rem;
	min-height: 100vh;
	padding: 0 1rem 1rem 1rem;
}

.header h1 {
	font-size: 2.5rem;
	font-family: var(--family-josefin);
	color: var(--heading-color);
	letter-spacing: 0.8rem;
}

.container {
	margin-top: 6rem;
	width: 100%;
	max-width: 32rem;
	gap: 2rem;
}

.container main {
	gap: 1rem;
}

.shadow {
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card {
	background-color: var(--clr-card-bg);
	border-radius: 5px;
	overflow: hidden;
}

.input-card {
	padding: 1rem;
	align-items: center;
	gap: 1rem;
}

.btn-container {
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid var(--clr-border-btn);
	border-radius: 50%;
	overflow: hidden;
	transition: background-color ease 0.2s;
}

.btn-container:hover {
	background-color: var(--clr-btn-active);
}

.btn {
	appearance: none;
	background-color: transparent;
	padding: 0;
	width: 100%;
	font-size: 14px;
	border: none;
	color: var(--clr-gb-2);
	user-select: none;
}

.btn:hover {
	cursor: pointer;
}

.btn:active,
.btn-container:active {
	transform: scale(0.95);
}

.info-container {
	padding: 1rem;
	color: var(--clr-gb-3);
	font-size: 14px;
	flex: 1;
}

.filter-list {
	padding: 0;
	gap: 0.5rem;
}

.filter-list li {
	display: inline;
}

.filter-list li:hover {
	cursor: pointer;
	color: var(--clr-gb-1);
}

.filter-list li.active {
	color: var(--clr-btn-active);
}

.info-clear {
	cursor: default;
}

.info-clear:hover {
	color: var(--clr-gb-1);
	cursor: pointer;
} 
